h1{

color: #bbccdd ;
background-color: black;
margin-left: 180px;
    
}
.menu{

    display: flex;
    justify-content: space-between;
}
.grid{

    display: flex;
    flex-wrap: wrap;


}
.grid img{


border : 2px solid black;
border-radius:50px;

}
.origami{

border-radius: 20px;
background-color: skyblue;

width:310px;
font-family: fantasy;
}